 <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <div class="footer-copyright">
       ₢2019 Todos os direitos reservados
    </div>
    <div id="footer-target">TA<span id="footer">RG</span>GET</div>
  </div>
</div>
