
<footer class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-target">
     <%= Time.now.year %> &copy Todos os direitos reservados | TA<span id="footer">RG</span>ET
  </div>
</footer>
