<div class="container">
  <div class="about">
    <p>A RG Target é um Escritório de Marketing localizado na cidade de Rio Grande/RS que foi idealizado em meados dos anos 2000 com o intuito de qualificar as empresas que atuam no mercado da região, em um momento em que grandes players atuavam na cidade e o comércio local não dava conta de atender tal demanda. Na época, os empresários ainda possuiam uma visão retrógrada de que marketing era somente propaganda e publicidade e achavam que davam conta das demandas existentes por si só.</p>

   <p>Hoje, em um cenário muito diferente daquele anterior, vê-se necessário a profissionalização dos serviços de marketing pelas empresas que querem se destacar no mercado, e é isso  que a RG Target faz.</p>
  </div>

  <div class="director">
    <h3>Felipe Minasi</h3>
    <h6>Fundador e Consultor</h6>
    <div class="avatar">

    </div>
    <div class="career">
      Formado em Administração e Marketing pela Faculddade Estácio de Sá de Santa catarina em 2010 e concluido MBA em Gestão Estratégica de Negócios pela Universidade Federal de Pelotas em 2016, trabalha há quase 20 anos no segmento de marketing, Já atuou em empresas como Rede de Universidade Federal do Rio Grande, Tribunal Regional do Trabalho, Postos Buffon, Grupo RBS, Praça Rio Grande Shopping Center entre outros.
    </div>
  </div>
</div>
