
<div class="card-main">
  <div class="card">
    <h1 class="btn btn-warning"><i class="fas fa-bullhorn"></i>Marketing</h1>
  </div>
  <div class="card">
    <h1 class="btn btn-warning"><i class="fas fa-chess"></i>Estratégia</h1>
  </div>
  <div class="card">
    <h1 class="btn btn-warning"><i class="fas fa-lightbulb"></i>Criatividade</h1>
  </div>
  <div class="card">
    <h1 class="btn btn-warning"><i class="fas fa-box-open"></i>Solução</h1>
  </div>
</div>
