<div class="carousel-item">
  <img src="https://unsplash.com/photos/5fNmWej4tAA" alt="gestao">
  <div class="carousel-caption d-none d-md-block">
    <div class="services">
      <div class="gestao">
      <h3><strong>Gestão</strong></h3>
        <span>Trabalhamos para que sua empresa atue estrategicamente no mercado, formulando cenários de atuação e buscando ferramentas que agregue valor ao seu negócio e o destaque perante a concorrência.</span>
      </div>
    </div>
  </div>
</div>

<div class="carousel-item">
  <img src="https://unsplash.com/photos/jyoSxjUE22g" alt="marketing">
  <div class="carousel-caption d-none d-md-block">
    <div class="marketing">
      <h3><strong>Marketing</strong></h3>
      <span>Da concepção do produto ao conhecimento dele pelo público. Elaboramos um planejamento de marketing completo para sua empresa, acompanhando sua execução e supervisionando os objetivos almejados.</span>
    </div>
  </div>
</div>

<div class="carousel-item">
  <img src="https://unsplash.com/photos/6O0RognPLwE" alt="events">
  <div class="carousel-caption d-none d-md-block">
    <div class="events">
      <h3><strong>Eventos</strong></h3>
      <span>Juntamente com alguns parceiros organizamos feiras, exposições e eventos corporativos, nossa intenção é que você pense no seu negócio e a gente se preocupe com o resto.</span>
    </div>
  </div>
</div>
